<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperatura en San Isidro, Madrid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="static/styles/climadrid_icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    <div class="app-wrap">
        <main>
            <section class="location">
                <div class="titulo"><img class="logo-title" src="{{ url_for('static', filename='img/climadrid.png') }}" /></div>
                <div class="date">Forecast for Barrio San Isidro</div>
                <div class="date">Last Updated: {{ formatted_datetime }}</div>
            </section>
            <div class="current">
                <div class="temp">{{ last_temperature }}<span>°c</span></div>
                <div class="hi-low">{{ max }}°c / {{ min }}°c</div>
            </div>
            <div class="title-table">24-hour Forecast:</div>
            <!-- Table for last 24 predictions -->
            <div class="table-container">
                <table>
                    <thead>
                        <!-- Display dates as column headers -->
                        <tr>
                            {% for date in dates %}
                                <th class="fecha" colspan="{{ hours_map[date]|length }}">{{ date }}</th>
                            {% endfor %}
                        </tr>
                        <!-- Display hours dynamically -->
                        <tr>
                            {% for date in dates %}
                                {% for hour in hours_map[date] %}
                                    <th hour="hour">{{ hour }}</th>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Display temperatures dynamically -->
                        <tr>
                            {% for date in dates %}
                                {% for temp in temperatures_map[date] %}
                                    <td data-temp="{{ temp }}">{{ temp }}°</td>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- New Table for 5-Day Forecast -->
            <!-- New Table for 5-Day Forecast -->
            <div class="title-table-forecast">5-Day Forecast:</div>
            <div class="table-container-forecast">
                <table>
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Forecast</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Display 5-day forecast dynamically -->
                        {% for forecast in forecast_5d %}
                            <tr>
                                <td class="day">{{ forecast.day }}</td>
                                <td class="forecast">
                                    <div class="forecast-avg">{{ forecast.mean_temp }}°</div>
                                    <div class="forecast-min-max">
                                        <span class="forecast-max">{{ forecast.max_temp }}°</span> / 
                                        <span class="forecast-min">{{ forecast.min_temp }}°</span>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </main>
    </div>
    <footer class="footer">
        <a href="#" id="about-link" class="about-link">About This Page</a>
        <p>Created by <a href="https://github.com/jbasurtod" target="_blank">Juan C Basurto</a></p>
    </footer>

    <!-- Modal for About This Page -->
    <div id="about-modal" class="modal">
        <div class="modal-content">
            <span class="close-btn" id="close-btn">&times;</span>
            <h2>About This Page</h2>
            <p class="info">This project showcases two productized XGBoost and LSTM time series models trained with historical temperature data from Madrid's open data portal. The models are used to predict hourly temperatures in Barrio San Isidro, Madrid, forecasting the next 24 hours and next 5 days. You can view a real time evaluation of <a href="https://predicting-madrid-temp.streamlit.app/" target="_blank">the model here.</a>
            <br><br>
            The Madrid <a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=4985724ec1acd610VgnVCM1000001d4a900aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default" target="_blank">Open Data portal</a> updates the latest temperature data around the 30th minute of every hour. Using Airflow and Google Drive, a continuous forecasting process constantly evaluates the model performance, predicts the next temperatures and selects the model with the best performance to be used in this website. Current model: {{current_model}}.
            <br><br><br>
            This project has been created by <a href="mailto:jbasurtod@gmail.com">Juan Carlos Basurto</a>.
            <br><br>[ <a href="https://www.linkedin.com/in/jbasurtod/" target="_blank">My Linkedin</a> ] [ <a href="https://github.com/jbasurtod" target="_blank">My GitHub</a> ]
        <br><p style="font-size:7pt;">Origen de los datos de tiempo real: Ayuntamiento de Madrid. This app is not related in any way with Ayuntamiento de Madrid.</p></p>
        </div>
    </div>

    <script>
        // JavaScript to handle modal opening and closing
        document.getElementById('about-link').onclick = function(event) {
            event.preventDefault();
            document.getElementById('about-modal').style.display = 'block';
        };

        document.getElementById('close-btn').onclick = function() {
            document.getElementById('about-modal').style.display = 'none';
        };

        window.onclick = function(event) {
            if (event.target === document.getElementById('about-modal')) {
                document.getElementById('about-modal').style.display = 'none';
            }
        };
    </script>
</body>
</html>
