<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperatura en San Isidro, Madrid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    <div class="app-wrap">
        <main>
            <section class="location">
                <div class="titulo">Temperature in San Isidro, Madrid</div>
                <div class="date">Last Updated: {{ formatted_datetime }}</div>
            </section>
            <div class="current">
                <div class="temp">{{ last_temperature }}<span>°c</span></div>
                <div class="hi-low">{{ max }}°c / {{ min }}°c</div>
            </div>
            <div class="title-table">Forecast:</div>
            <!-- Table for last 24 predictions -->
            <div class="table-container">
                <table>
                    <thead>
                        <!-- Display dates as column headers -->
                        <tr>
                            {% for date in dates %}
                                <th class="fecha" colspan="{{ hours_map[date]|length }}">{{ date }}</th>
                            {% endfor %}
                        </tr>
                        <!-- Display hours dynamically -->
                        <tr>
                            {% for date in dates %}
                                {% for hour in hours_map[date] %}
                                    <th hour="hour">{{ hour }}</th>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Display temperatures dynamically -->
                        <tr>
                            {% for date in dates %}
                                {% for temp in temperatures_map[date] %}
                                    <td data-temp="{{ temp }}">{{ temp }}°</td>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    <footer class="footer">
        <a href="#" id="about-link" class="about-link">About This Page</a>
        <p>Created by <a href="https://github.com/jbasurtod" target="_blank">Juan C Basurto</a></p>
    </footer>

    <!-- Modal for About This Page -->
    <div id="about-modal" class="modal">
        <div class="modal-content">
            <span class="close-btn" id="close-btn">&times;</span>
            <h2>About This Page</h2>
            <p class="info">This project showcases a productized XGBoost time series model, trained with historical temperature data from Madrid's open data portal. The model is used to predict hourly temperatures in Barrio San Isidro, Madrid, forecasting the next 24 hours. You can view a real time evaluation of the model <a href="https://predicting-madrid-temp.streamlit.app/" target="_blank">here.</a>
            <br><br>
            The Madrid Open Data portal updates the latest temperature data on the 30th minute of every hour. Using Airflow and Google Drive, a continuous forecasting deployment process constantly evaluates the model performance and predicts the next temperatures.
            <br><br><br>
            This project has been created by <a href="mailto:jbasurtod@gmail.com">Juan Carlos Basurto</a>.
            <br><br>[ <a href="https://www.linkedin.com/in/jbasurtod/" target="_blank">Linkedin</a> ] [ <a href="https://github.com/jbasurtod" target="_blank">GitHub</a> ]</p>
        </div>
    </div>

    <script>
        // JavaScript to handle modal opening and closing
        document.getElementById('about-link').onclick = function(event) {
            event.preventDefault();
            document.getElementById('about-modal').style.display = 'block';
        };

        document.getElementById('close-btn').onclick = function() {
            document.getElementById('about-modal').style.display = 'none';
        };

        window.onclick = function(event) {
            if (event.target === document.getElementById('about-modal')) {
                document.getElementById('about-modal').style.display = 'none';
            }
        };
    </script>
</body>
</html>
